<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JasonShepherdFinal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04A1B0021CBFEEEC009559EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A1B01A1CBFEEF7009559EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A1B0251CBFEEF7009559EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
